
.full{
    background-image: url('../../Assets/Images/plainbg.png');
    background-position: center;
    background-size: cover;
    padding: 5vh 8vw;
}

.clippingpath{
     /* display: flex;
     align-items: center;
     justify-content: space-between; */
     margin-top: 90px;
     margin-left:0px;
     display: flex;
     justify-content: center;
     flex-direction: column;
}
.clippingpath1{
    width: 95%;
}

.clippingpath h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 70px;
    text-align:center;
    color: #212123;
}
.clippingpath p {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #212123;
    text-align: justify;
    
  }
.clippingpath2{
    width: 90%;
    display: flex;
    justify-content:space-around;
    
}
.shoeimg{
    height: auto;
    width: 340px;
    border-radius: 10px;
}

.clippingpath2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align:justify;
    color: #4B5563;
    margin-top: 10px;
   ;
}

.viewsbtn{
    background: radial-gradient(293.15% 5244.37% at 100% 121.13%, #FF9A00 0%, #FD331F 100%);
    border-radius: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 0;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF; 
    border: none;  
    padding: 8px 20px;
     margin-top: 50%;  
}
.samples{
    background: radial-gradient(293.15% 5244.37% at 100% 121.13%, #FF9A00 0%, #FD331F 100%);
    border-radius: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 0;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF; 
    margin: -10px 0px;
}


.picture{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    
}
.clippingpath4{
 width: 38%;
}

.clippingpath4 h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 70px;
    text-align: start;
    color: #212123;
}

.clippingpath4 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #212123;
    margin-top: 10px;
}

.clippingpath3{
   width: 40%;
   text-align: start;

}

.clippingpath3 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: start;
    color: #4B5563;
    margin-top: 10px; 
}
.shoeimg1{
   width: 340px;
   height: auto;
   border-radius: 10px;
}
.price{
    text-align: center;
}


@media screen and (max-width:1200px) {
    .full{
    padding: 4.5vh
    }
}


@media screen and (max-width:860px) {

  .full{
    padding-top:0px ;
    padding: 0vh 3.5vw;
  }  
  .clippingpath{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0%;
  }

.clippingpath h3 {
 font-size: 30px;
 line-height: 40px;
}
 .clippingpath1{
    width: 100%;
 }

 .clippingpath2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
 }
 
 .viewsbtn{
    margin-top: 5%;
    font-size: 16px;
 }
 

 .picture{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .clippingpath3{
    width: 100%;
 }

.clippingpath4 h3{
  font-size: 30px;
  line-height: 40px;

}

 .clippingpath4{
    width: 100%;
 }

}

